  /*@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);*/

body {
    font-family: "Noto Sans Japanese", 'Noto Sans KR', sans-serif;
}

.container {
    position: relative;
    /* height: 200px;   */
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    position: relative;
    width: 100%;
    font-size: 1em;
    color: #333;
    text-align: center;
}

#script {
    position: relative;
    width: 100%;
    font-size: 3vw;
    color: #333;
    text-align: center;
}

#translate {
    position: relative;
    font-size: 1vw;
    color: #666;
    text-align: center;
}

@media screen and (max-width: 767px) {
  #script {
		font-size: 5vw;
	}

  #translate{
    font-size: 2.6vw;
  }
}
